@import url("./src/themes.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

a,
button {
  cursor: pointer;
}

button {
  border: none;
  background: none;
}
a {
  text-decoration: none;
}

header {
  width: 100vw;
  background-color: var(--text);
  max-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

header div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

header div img {
  height: 2rem;
}

main {
  min-height: fit-content;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
  justify-content: center;
  margin: 1.5rem 0rem 7rem;
  background-color: var(--background);
  color: var(--text);
}

#hero-img {
  width: 95%;
  height: auto;
}

#hero-title {
  width: 90%;
  text-align: center;
  margin: 0;
}

#hero-text {
  text-align: center;
  width: 90%;
}

#hero-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.cta {
  text-emphasis: none;
  text-decoration: none;
  color: var(--text);
  background-color: var(--primary);
  padding: 0.75rem 1.5rem;
  border-radius: 1000px;
  font-size: 1.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.cta:last-of-type {
  text-align: center;
  background-color: var(--background-l);
}
.cta:active {
  scale: 0.9;
}
.cta:hover {
  scale: 1.1;
}

.gradient {
  background: linear-gradient(90deg, #bb18c3 0%, #1b63a7 100%);
  color: white;
}

nav {
  height: 2rem;
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  background-color: black;
  color: var(--background);
}
nav a {
  color: var(--background);
  transition: all 0.25s;
}
nav a:hover {
  color: var(--accent);
}
nav a:first-of-type {
  padding-left: 10%;
}
nav a:last-of-type {
  padding-right: 10%;
}

#menu-btn {
  position: absolute;
  left: 50%;
  top: -25%;
  z-index: 2;
  transform: translate(-50%, -40%);
  justify-self: center;
  cursor: pointer;
}

/* #search {
  display: none;
}

#searchbar {
  border-radius: 1000px;
  width: fit-content;
  min-width: 25%;
  background-color: var(--text-l);
  color: var(--background);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
} */

@media only screen and (width > 500px) {
  .hero-buttons {
    width: 50%;
  }
  nav {
    display: none;
  }
  #search {
    display: inline;
  }
  #hero-img {
    width: 70%;
  }
}

@media only screen and (width > 650px) {
  #hero-img {
    width: 60%;
  }
  html {
    font-size: 20px;
  }
}

@media only screen and (width >= 800px) {
  #hero-img {
    width: 50%;
  }
}

@media only screen and (width >= 1000px) {
  html {
    font-size: 24px;
  }
  #hero-img {
    content: url("./src/assets/media/images/hero-img-wide.png");
    width: 90%;
    padding-bottom: 1rem;
  }
  #hero-buttons {
    width: 30%;
  }
  main {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  #hero-title {
    font-size: 3rem;
  }
  .cta {
    padding: 0.75rem 3rem;
  }
}
