:root[data-theme="light"] {
  --text: #040316;
  --background: #ebebeb;
  --primary: #de3ce7;
  --secondary: #605bbe;
  --accent: #58a0e4;
}
:root[data-theme="dark"] {
  --text: #eae9fc;
  --background: #141414;
  --primary: #bb18c3;
  --secondary: #4641a4;
  --accent: #1b63a7;
}
